 html{
  scroll-behavior: smooth;

.s-style {

.navbar, .navbar-mobile-expanded {
background-color:#ec811a !important;

a {
	color: white;
}
}

.anchor{
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}

div {

h3, h4 {
text-align: center;
}
}
}
}
